{% extends '@layout/default.html.twig' %}

{% block title %}{{ status }} {{ reason }}{% endblock %}

{% block content %}
    <main class="app-content d-flex flex-column align-items-center justify-content-center h-100">
        <div class="h-100">
            <h1>Uh oh! {{ reason }}!</h1>
            <h2 class="text-muted">(Error: {{ status }})</h2>
            <hr class="my-4" />
            <p class="my-4">
                {% if status < 500 %}
                    You are looking for something that doesn't exist, may have moved or you don't have access to.
                    <br />
                    Check the URL or navigate to one the of the following pages:
                {% else %}
                    An error occurred while processing your request. There is probably an issue with one of our server.
                    <br />
                    Please try again later or navigate to one the of the following pages:
                {% endif %}
            </p>
            <ul class="nav flex-column font-weight-bold h2">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">
                        &raquo; Main page
                    </a>
                    {% if status >= 500 %}
                        <a class="nav-link" href="https://github.com/xtreamlabs">
                            &raquo; Fix the source code
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
